/*************************
******Contact CSS****
**************************/
html, body {
    overflow-x: hidden;
    width: 100%;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #fff;
}

.navbar {
    background-color: #004E8A !important;
    margin-bottom: 10px;
}

.contact-section {
    background-color: #135f89;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 6vh;
}

#contact .container {
    padding-top: 60px;
}

#contact h3 {
    text-transform: inherit;
    color: #fff;
    /*font-weight: 500;*/
}

#contact-section h3 {
    margin-bottom: 25px
}

#contact address {
    font-size: 14px;
    color: #fff;
    word-wrap: break-word;
}

.contact-text {
    margin-bottom: 35px;
    display: block;
}

#contact-section .form-control {
    border-color: #135f89;
    box-shadow: none;
    outline: 0 none;
    border-radius: 0;
    font-size: 14px;
}

#contact-section .form-control:focus {
    border-color: #ae750d;
}

#contact-section input {
    height: 44px;
}

#contact-section textarea {
    height: 90px;
    resize: none;
}

#contact-section .btn-primary {
    background-color: #373737;
    color: #fff;
    border: none;
    font-size: 15px;
    padding: 6px 20px;
    margin-bottom: 20px;
    margin-top: 10px
}

#contact-section .btn-primary:hover {
    background-color: #212020;
    color: #fff
}

.sendButton {
    text-align: center;
    color: #fff;
    border: none;
    font-size: 14px;
    padding-right: 15px;
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    margin-bottom: 4px;
    margin-top: 4px;
    height: auto;
}

.topHeight {
    height: 10vh;
}

.bottomHeight {
    height: 20vh;
}

@media only screen and (max-width: 500px) {

    .topHeight {
        height: 2vh;
    }

    .bottomHeight {
        height: 5vh;
    }
}