html, body {
    overflow-x: hidden;
    width: 100%;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
}

@font-face {
    font-family: Amarillo;
    src: url(../../../static/gandharva/fonts/Amarillo.woff) format('woff');
}

/*.mainTitle {*/
/*position: absolute;*/
/*top: 26vh;*/
/*left: 38vw;*/
/*text-align: center;*/
/*}*/

/*.owl-stage{*/
/*margin: 0 auto;*/
/*}*/

.slick-track {
    margin: auto;
}

.mainTitle {
    position: absolute;
    top: 30vh;
    left: 0;
    right: 0;
    margin-right: 20%;
    margin-left: 16%;
}

.mainTitle img {
    margin-left: 14vw;
    height: auto;
    width: 62%;
}

.mainTitle p {
    margin-bottom: 4px;
}

.userselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mainTitle h1 {
    z-index: 500;
    color: #fff;
    word-wrap: break-word;
    text-align: center;
    padding-left: 20px;
    padding-bottom: 28px;
    font-family: 'Amarillo';
    font-size: 50px
}

/*************************
*******Explore CSS******
**************************/

#explore {
    background-color: #6fa4c3;
    position: relative;
    overflow: hidden;
    padding-top: 4vh;
    padding-bottom: 8vh;
}

.watch img {
    position: absolute;
    left: 0;
    top: -12px;
}

#explore h2 {
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px #000000;
    border-radius: 10px;
}

#countdown {
    text-align: center;
    z-index: 10;
    margin-left: 10%;
    margin-right: 20%;
    width: 90%;
}

#countdown p {
    font-weight: 500;
    text-align: center;
}

/*#countdown .day {*/
/*background-color: #45b29d;*/
/*border-top: 1px solid #6ac1b1;*/
/*border-left: 1px solid #6ac1b1;*/
/*}*/

/*#countdown .hr {*/
/*background-color: #efc94c;*/
/*border-top: 1px solid #f2d470;*/
/*border-left: 1px solid #f2d470;*/
/*}*/

/*#countdown .min {*/
/*background-color: #e27a3f;*/
/*border-top: 1px solid #e89565;*/
/*border-left: 1px solid #e89565;*/
/*}*/

/*#countdown .sec {*/
/*background-color: #df5a49;*/
/*border-top: 1px solid #e57b6d;*/
/*border-left: 1px solid #e57b6d;*/
/*}*/

/*************************
*******About CSS**********
**************************/

#about {
    background-color: #75B46E;
    position: relative;
    width: 100%;
    display: flex;
}

.guitar2 {
    top: 0;
    width: 50%;
}

.guitar2 img {
    padding-top: 1vh;
}

.about-content {
    width: 50%;
    background-image: url("../images/about-bg.jpg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 70px 110px;
}

#about h2 {
    margin-bottom: 23px;
}

.about-content p {
    font-size: 17px;
}

#about .btn-primary {
    background-color: #137c61;
    color: #fff;
    text-transform: capitalize;
    border: none;
    margin-top: 28px;
}

#about .btn-primary:hover {
    background-color: #126d55
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .clock h1 {
        font-size: 3em;
    }

    .timerText {
        font-size: 2.8em;
    }

    .carousel-item img {
        height: 200px;
    }

    .brand img {
        width: 100%;
        height: 120px;
    }

    .mainTitle h1 {
        font-size: 30px;
        font-family: 'Amarillo';
    }

    .mainTitle img {

        margin-left: 8%;
        height: auto;
        width: 80vw;
    }

    .mainTitle {
        top: 34vh;
        margin-right: 1%;
        margin-left: 3%;
    }

    .mainTitle h3 {
        font-size: 20px;
        margin-left: 40px;
    }

    .mainTitle h2 {
        font-size: 20px;
    }

    .mainTitle h4 {
        font-size: 20px;
        margin-left: 36px;
    }

    .mainTitle p {
        font-size: 16px;
    }

    #countdown {
        margin-left: 10%;
        padding-left: 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .clock h1 {
        font-size: 2em;
    }

    .timerText {
        font-size: 1.61em;
    }

    .carousel-item img {
        height: 240px;
    }

    .brand img {
        width: 100%;
        height: auto;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .carousel-item img {
        height: 260px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

.carousel-item img {
    width: 100%;
    height: 580px;
    object-fit: cover;
    opacity: 0.4;
}

img {
    margin-left: auto;
    margin-right: auto;
}

.title {
    position: absolute;
    top: 0;
    left: 4vw;
    text-align: center;
    z-index: 300;
    font-size: 10vw;
    color: #000;
}

.parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.eventDiv {
    z-index: 10;
    background-color: #222222;
    margin-bottom: 6vh;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    border-radius: 8px;
    cursor: pointer;
}

.eventTitle {
    z-index: 100;
    padding-top: 4vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    color: #fff;
    font-weight: 500;
    opacity: 1;
    word-wrap: break-word;
    hyphens: auto;
}

.eventDescription {
    z-index: 100;
    padding-top: 1vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    color: #fff;
    opacity: 1;
    font-weight: bold;
    text-shadow: 1px 1px #000000;
}

.eventButtons {
    text-align: center;
    background-color: #1a73e8;
    color: #fff;
    border: none;
    font-size: 14px;
    padding-right: 1.2vw;
    font-weight: 400;
    padding-top: 5px;
    padding-left: 1.2vw;
    padding-bottom: 5px;
    /*margin-bottom: 4px;*/
    /*margin-top: 14vh;*/
    position: absolute;
    bottom: 4vh;
    left: 10px;
    height: auto;
}

.eventButtons:hover {
    background-color: #0047b3;
}

.hvr-bounce-to-top {
    display: inline-block;
    border-radius: 8px;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #25ade3;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 8px;
}

.hvr-bounce-to-top:hover {
    color: white;
}

.hvr-bounce-to-top:hover:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

#particle {
    z-index: 900;
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
}

.orange-fade {
    background: #25ade3;
}

.pos-r {
    position: relative !important;
}

.white {
    background: #fff;
}

.text-white {
    color: #fff !important;
}

.text-gray {
    color: #363636;
    font-weight: 500;
    font-size: 12px;
    word-wrap: break-word;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.separator {
    width: 14%;
    height: 3px;
    margin: 1.2em auto 1em;
    background: #1B7B98;
}

.one-slide {
    border-radius: 3px;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.1rem;
    height: 250px;
}

.one-slide img {
    width: 60%;
}

.carousel-controls .control {
    position: absolute;
    cursor: pointer;
    top: 56.4%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.prev {
    left: -1.875rem;
}

.next {
    right: -1.875rem;
}

.testimonial-carousel.slick-initialized {
    display: block;
}

.testimonial-carousel .message {
    width: 100%;
    font-size: 1rem;
}

.testimonial-carousel .brand {
    width: 100%;
}

@media (max-width: 575px) {
    .testimonial-carousel .one-slide {
        height: 240px;
    }

    .testimonial-carousel img {
        width: 44%;
        height: 80px;
    }
}

.map-responsive {
    overflow: hidden;
    padding-top: 10%;
    padding-bottom: 300px;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#event_timeline {
    /*background: linear-gradient(0deg, rgba(26, 117, 255, 0.6), rgba(128, 179, 255, 0.8));*/
    background-color: #fff;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}

#timeline .timeline-badge span.timeline-balloon-date-day {
    font-size: 1.4em;
}

#timeline .timeline-badge span.timeline-balloon-date-month {
    font-size: .7em;
    position: relative;
    top: -10px;
}