html, body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

.navbar {
    opacity: 1;
    background-color: rgb(0, 78, 138) !important;
    padding-bottom: 10px;
}

/*.name {*/
/*text-align: center;*/
/*font-size: 18px;*/
/*margin-bottom: 1px;*/
/*word-wrap: break-word;*/
/*}*/

/*.postname {*/
/*text-align: center;*/
/*font-size: 16px;*/
/*margin-bottom: 2px;*/
/*word-wrap: break-word;*/
/*}*/

/*.user-img {*/
/*margin-top: -100px;*/
/*!*margin-left: 12px;*!*/
/*margin-bottom: 20px;*/
/*height: 70%;*/
/*}*/

/*.user-img img {*/
/*height: 120px;*/
/*width: 120px;*/
/*border-radius: 50%;*/
/*}*/

/*.main-section {*/
/*margin-top: 130px;*/
/*padding-left: 4%;*/
/*padding-bottom: 5%;*/
/*}*/

/*.modal-content {*/

/*padding: 0 10px;*/
/*}*/

/*@media only screen and (max-width: 500px) {*/
/*.user-img img {*/
/*height: 60px;*/
/*width: 60px;*/
/*border-radius: 50%;*/
/*}*/
/*}*/

@media only screen and (min-width: 992px) {

    .main-section {
        margin-top: 50px;
        padding-left: 4%;
        padding-bottom: 5%;
        margin-right: 20px;
        margin-left: 20px;
    }

    .modal-content {
        padding: 0 10px;
    }

    .user-img {
        margin-top: -14vh;
        margin-left: -1vw;
        margin-bottom: 20px;
        height: 70%;

    }

    .user-img img {
        height: 140px;
        width: 140px;
        border-radius: 50%;
    }

    .name {
        text-align: center;
        font-family: 'Abel', sans-serif;
        font-weight: bold;
        font-size: 25px;
        line-height: 80%;
    }

    .postname {
        text-align: center;
        font-family: 'Abel', sans-serif;
        font-weight: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 50%;
    }
}

@media only screen and (max-width: 600px) {

    .main-section {
        margin-top: 130px;
        margin-left: 5%;
        padding-bottom: 5%;;
    }

    .modal-content {

        padding: 0 10px;
    }

    .user-img {
        margin-top: -40px;
        margin-left: 0px;
        margin-bottom: 20px;
        /*height: 90%;*/

    }

    .user-img img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }

    .name {
        text-align: center;
        font-family: 'Abel', sans-serif;
        font-weight: bold;
        font-size: 25px;
        line-height: 80%;
    }

    .postname {
        text-align: center;
        font-family: 'Abel', sans-serif;
        font-weight: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 50%;
    }

}

