html, body {
    overflow-x: hidden;
    width: 100%;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

.navbar {
    opacity: 1;
    background-color: rgb(0, 78, 138) !important;
    padding-bottom: 0;
}

.container-center {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    border-radius: 12px;
}

.table {
    margin: 12px;
    width: 100%;
}

.flexProp {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center
}

.volTable {
    margin: 12px;
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .table {
        margin-left: 6%;
        width: 90%;
        word-wrap: break-word;
    }

    .flexProp {
        display: block;
    }

    .volTable {
        margin-left: 5%;
        width: 90%;
        word-wrap: break-word;

    }
}

.btn-primary {
    text-align: center;
    background-color: #1a73e8;
    color: #fff;
    border: none;
    padding-right: 18px;
    padding-top: 4px;
    padding-left: 18px;
    margin-bottom: 20px;
    margin-top: 10px;
    word-wrap: break-word;
    width: 200px;
}

#volunteer {
    display: block;
}

#event {
    display: block;
}

#college {
    display: block;
}

td {
    text-align: center;
}

th {
    text-align: center;
}

.DownloadButton {
    background-color: #1a73e8;
    color: #fff;
}

.DownloadButton:hover {
    background-color: #1a73e8;
    color: #fff;
}