{% extends 'base/base.html' %}
{% load static %}
{% block title %}All Participants{% endblock %}
{% block css %}

{% endblock %}

{% block body %}
    <br><br><br><br><br>

    <div>
        <h2>People participated in your event are</h2>

        <form action="{% url 'mail-participants' %}" method="get">
            {% for participant in participants %}
                <input type="checkbox" name="email" value={{ participant.team.user.email }}>
                name= {{ participant.team.user.first_name }},email ={{ participant.team.user.email }}<br>
            {% endfor %}
            <input type="submit" value="Email">
        </form>


    </div>

{% endblock %}