{% extends 'base/base.html' %}
{% load static %}
{% block title %}Campaign Head{% endblock %}
{% block css %}
    <link href="{% static 'events/css/campaign.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
    <br><br><br><br><br>
    <div class="container" style="height:100vh">
        <div class="col-sm-5 container-center">
            <div class="logo">
                <img class="img-fluid" src="{% static 'gandharva/img/logo_description.png' %}">
            </div>
            <h5 style="text-align: center;">Campaign</h5>
            <p style="text-align: center;">Select an option</p>
            <div class="row">
                {% if role.role.name == "Campaigning Head" or role.role.name == "Jt Campaigning Head" %}
                    <div class="col-sm-12 col-md-12">
                        <div class="text-center">
                            <form method="post" action="{% url 'campaign' %}">
                                {% csrf_token %}
                                <input type="hidden" name="criteria" value="0">
                                <button type="submit" class="btn btn-primary">Number of
                                    Entries
                                </button>
                            </form>
                        </div>
                    </div>
                {% endif %}
                <div class="col-sm-12 col-md-12">
                    <div class="text-center">
                        <form method="post" action="{% url 'campaign' %}">
                            {% csrf_token %}
                            <input type="hidden" name="criteria" value="1">
                            <button type="submit" class="btn btn-primary">Eventwise
                                Entries
                            </button>
                        </form>
                    </div>
                </div>
                {% if role.role.level >= head_level %}
                    <div class="col-sm-12 col-md-12">
                        <div class="text-center">
                            <form method="post" action="{% url 'campaign' %}">
                                {% csrf_token %}
                                <input type="hidden" name="criteria" value="2">
                                <button type="submit" class="btn btn-primary">Collegewise
                                    Entries
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="text-center">
                            <form method="post" action="{% url 'campaign' %}">
                                {% csrf_token %}
                                <input type="hidden" name="criteria" value="3">
                                <button type="submit" class="btn btn-primary">Add Volunteer
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="text-center">
                            <form method="post" action="{% url 'TableToExcel' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Participant Information
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="text-center">
                            <form method="post" action="{% url 'volunteer-data' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Volunteer Information
                                </button>
                            </form>
                        </div>
                    </div>
                    {% if role.role.name == "Event Head" %}
                    <div class="col-sm-12 col-md-12">
                        <div class="text-center">
                            <form method="get" action="{% url 'event-presenty' %}">
                                <button type="submit" class="btn btn-primary">Event Attendance
                                </button>
                            </form>
                        </div>
                    </div>
                     <div class="col-sm-12 col-md-12">
                        <div class="text-center">
                            <form method="get" action="{% url 'qr-verify' %}">
                                <button type="submit" class="btn btn-primary">QR Code Verify
                                </button>
                            </form>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

