{% extends 'base/base.html' %}
{% load static %}
{% block title %}Campaign Head{% endblock %}
{% block css %}
    <link href="{% static 'events/css/campaign.css' %}" rel="stylesheet">
    <style>
        .table {
            margin-left: 0;
        }

        td {
            width: 500px;
        }
    </style>
{% endblock %}
{% block body %}
    <br><br><br><br><br>
    <div class="container">
        <div class="col-sm-8 container-center">
            <div class="logo">
                <img class="img-fluid" src="{% static 'gandharva/img/logo_description.png' %}">
            </div>
            <h5 style="text-align: center;">Campaign Volunteer</h5>
            <form method="post" action="{% url 'AddVolunteer' %}">
                {% csrf_token %}

                <div class="form-group" style="width: 80%;margin-left: auto;margin-right: auto">
                    Name
                    <select id="volunteers" name="volunteers" class="form-control">
                        <option value="">Select</option>
                        {% for volunteer in volunteers %}
                            <option value="{{ volunteer.pk }}">{{ volunteer.first_name }} {{ volunteer.last_name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group" style="width: 80%;margin-left: auto;margin-right: auto">
                    College
                    <select id="colleges" name="colleges" class="form-control">
                        <option value="">Select</option>
                        {% for college in colleges %}
                            <option value="{{ college.pk }}">{{ college.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group" style="width: 80%;margin-left: auto;margin-right: auto">
                    Date
                    <input type="date" name="campaignDate" class="form-control">
                </div>
                <div class="text-right">
                    <button type="submit" class="btn addVolunteer">Add Entry</button>
                </div>
            </form>
            <br>
            {% if volunteers %}
                <div class="container"
                     style="display: flex;flex-direction: row;justify-items: center;align-items: center;overflow: auto">
                    <table class="table table-responsive volTable">
                        <thead class="thead-dark">
                        <tr>
                            <th>Volunteer Name</th>
                            <th>College Name</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for volunteer in volunteerData %}
                            <tr>
                                <td>{{ volunteer.user.first_name }} {{ volunteer.user.last_name }}</td>
                                <td>{{ volunteer.college.name }}</td>
                                <td>{{ volunteer.date }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
    <br><br>
    <div style="height: 40vh"></div>
{% endblock %}