{% extends 'base/base.html' %}
{% load static %}
{% block title %}Campaign Data{% endblock %}
{% block css %}
    <link href="{% static 'events/css/campaign.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
    <br><br><br><br><br>
    <div class="container">
        {% if volunteers %}
            <div id="volunteer" class="container"
                 style="display: flex;flex-direction: row;justify-items: center;align-items: center;overflow: auto">
                <div class="container-center">
                    <div class="text-center" style="width: 50%;height: auto;margin-right: auto;margin-left: auto;margin-top: 10px;margin-bottom: 20px">
        <img class="img-fluid" src="{% static 'gandharva/img/logo_description.png' %}">
        </div>
                    <h5 style="text-align: center;">Volunteerwise Campaigning Data</h5>
                    <br>
                    <table class="table table-responsive">
                        <thead class="thead-dark">
                        <tr>
                            <th>Volunteer Name</th>
                            <th>Participant Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for volunteer in volunteers %}
                            <tr>
                                <td>{{ volunteer.name }}</td>
                                <td>{{ volunteer.count }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>

        {% elif events %}

            <div id="event" class="container flexProp"
                 style="display: flex;flex-direction: row;justify-items: center;align-items: center;overflow: auto">
                <div class="container-center">
                    <div class="text-center" style="width: 50%;height: auto;margin-right: auto;margin-left: auto;margin-top: 10px;margin-bottom: 20px">
        <img class="img-fluid" src="{% static 'gandharva/img/logo_description.png' %}">
        </div>
                    <h5 style="text-align: center;">Eventwise Entries</h5>
                    <br>
                    <table class="table table-responsive">
                        <thead class="thead-dark">
                        <tr>
                            <th>Event Name</th>
                            <th>Participant Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for event in events %}
                            <tr>
                                <td>{{ event.event_name }}</td>
                                <td>{{ event.count }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        {% elif colleges %}
            <div id="college" class="container"
                 style="display: flex;flex-direction: row;justify-items: center;align-items: center;overflow: auto">
                <div class="container-center">
                    <div class="text-center" style="width: 50%;height: auto;margin-right: auto;margin-left: auto;margin-top: 10px;margin-bottom: 20px">
        <img class="img-fluid" src="{% static 'gandharva/img/logo_description.png' %}">
        </div>
                    <h5 style="text-align: center;">Collegewise Entries</h5>
                    <br>
                    <table class="table table-responsive">
                        <thead class="thead-dark">
                        <tr>
                            <th>College Name</th>
                            <th>Participant Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for college in colleges %}
                            <tr>
                                <td>{{ college.name }}</td>
                                <td>{{ college.count }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        {% endif %}
    </div>
    <br>
    <div style="height: 40vh"></div>

    {% block scripts %}
        <script>
            {% if volunteers %}
                document.getElementById('volunteer').style.display = "block";
                document.getElementById('event').style.display = "none";
                document.getElementById('college').style.display = "none";
            {% elif events %}
                document.getElementById('volunteer').style.display = "none";
                document.getElementById('event').style.display = "block";
                document.getElementById('college').style.display = "none";
            {% elif colleges %}
                document.getElementById('volunteer').style.display = "none";
                document.getElementById('event').style.display = "none";
                document.getElementById('college').style.display = "block";
            {% endif %}
        </script>
    {% endblock %}
{% endblock %}






