{% extends 'base/base.html' %}
{% load static %}
{% block title %}Event Presenty{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'events/css/events.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'events/css/qrcode.css' %}">
{% endblock %}
{% block body %}
    <br><br><br><br><br>
    <div class="container" style="height: 92vh">
    <h3>Present PPl</h3>
    {% for present in presents %}
        <h2>{{ present.user.email }}</h2>
    {% endfor %}
    <h3>Absent PPl</h3>
    {% for notcome in notcomes %}
        <h2>{{ notcome.user.email }}</h2>
    {% endfor %}
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'events/js/events.js' %}"></script>
{% endblock %}

