{% extends 'base/base.html' %}
{% load static %}
{% block title %}Feedback{% endblock %}
{% block css %}
    <link href="{% static 'events/css/campaign.css' %}" rel="stylesheet">

{% endblock %}
{% block body %}
    <br><br><br><br><br>
    <div class="container">
        <div class="col-sm-8 container-center">
            <div class="logo">
                <img class="img-fluid" src="{% static 'gandharva/img/logo_description.png' %}">
            </div>
            <h5 style="text-align: center;">Feedback</h5>
            <form method="post" action="{% url 'feedback' %}">
                {% csrf_token %}
                <input type="hidden" name="team" value="{{ team.pk }}">
                {% for question in questions %}
                    {{ question.question }}
                    <div class="form-check">
                        <input class="form-check-input" name="radio{{ question.pk }}" type="radio"
                               value="{{ option.pk }}">{{ option.option1 }}
                        <input class="form-check-input" name="radio{{ question.pk }}" type="radio"
                               value="{{ option.pk }}">{{ option.option2 }}
                        <input class="form-check-input" name="radio{{ question.pk }}" type="radio"
                               value="{{ option.pk }}">{{ option.option3 }}
                        <input class="form-check-input" name="radio{{ question.pk }}" type="radio"
                               value="{{ option.pk }}">{{ option.option4 }}
                        <input class="form-check-input" name="radio{{ question.pk }}" type="radio"
                               value="{{ option.pk }}">{{ option.option5 }}
                    </div>
                    <br>
                {% endfor %}
                <br>Comments : <textarea rows="4" cols="50" type="text" name="comment"></textarea>
                <br>

                <h5 style="text-align: center">Team Details</h5>
                <div class="form-group">
                    <label class="control-label">Name 1:</label>
                    <input type="text" name="name1" required>
                </div>

                <div class="form-group">
                    <label class="control-label"> Number 1:</label>
                    <input type="number" name="number1" required>
                </div>

                <div class="form-group">
                    <label class="control-label">Name 2:</label>
                    <input type="text" name="name2">
                </div>
                <div class="form-group">
                    <label class="control-label">Number 2:</label>
                    <input type="number" name="number2">
                </div>

                <div class="form-group">
                    <label class="control-label">Name 3:</label>
                    <input type="text" name="name3">
                </div>
                <div class="form-group">
                    <label class="control-label">Number 3:</label>
                    <input type="number" name="number3">
                </div>

                <div class="form-group">
                    <label class="control-label">Name 4:</label>
                    <input type="text" name="name4">
                </div>
                <div class="form-group">
                    <label class="control-label">Number 4:</label>
                    <input type="number" name="number4">
                </div>


                {#                Name 1 : <input type="text" name="name1" required>#}
                {#                Number 1 : <input type="number" name="number1" required><br>#}
                {#                Name 2 : <input type="text" name="name2">#}
                {#                Number 2 : <input type="number" name="number2"><br>#}
                {#                Name 3 : <input type="text" name="name3">#}
                {#                Number 3 : <input type="number" name="number3"><br>#}
                {#                Name 4 : <input type="text" name="name4">#}
                {#                Number 4 : <input type="number" name="number4"><br>#}

                <div class="text-right">
                    <input type="submit" name="submit" value="submit" class="btn addVolunteer">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

