{% extends 'base/base.html' %}
{% load static %}
{% block title %}File Upload{% endblock %}
{% block css %}
    <link href="{% static 'events/css/campaign.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
    <br><br><br><br><br>

    <div class="container">
        <div class="col-sm-6 container-center">
            <h3 style="text-align: center;padding-top: 10px;font-family: 'Lobster', cursive;">Gandharva'19</h3>
            <h5 style="text-align: center;">File Upload</h5>
            <br>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="text-center">
                    {{ form.as_p }}
                    <button type="submit" id="upload" class="btn btn-primary" style="margin-left: 0;width:auto;">
                        Upload
                    </button>
                </div>
            </form>
            <div class="text-center">
                <p>Uploaded files:</p>
            </div>
            <ul>
                {% for obj in documents %}
                    <li>
                        <a href="{{ obj.document.url }}">{{ obj.fname }}</a>
                        <small>(Uploaded at: {{ obj.uploaded_at }})</small>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <br>
    </div>
    <br><br>
    <div style="height: 40vh"></div>
{% endblock %}

