{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {#{% block css %}#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato|Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

    {#    <script src="https://code.jquery.com/jquery-3.3.1.js"#}
    {#            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="#}
    {#            crossorigin="anonymous"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    {#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"#}
    {#            integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"#}
    {#            crossorigin="anonymous"></script>#}
    <script type="text/javascript" src="{% static 'gandharva/js/bootstrap.js' %}"></script>
    <link href="{% static 'events/css/campaign.css' %}" rel="stylesheet">
    <style>
        .table {
            margin-left: 0;
            margin-right: 20px;
        }

        td {
            width: 200px;
        }

        #footer {
            display: none;
        }

        .navbar {
            display: none;
        }
    </style>
    {#{% endblock %}#}
</head>
<body>
<div id="event">
    <div style="display: flex;flex-direction: row;justify-items: left;flex-wrap: wrap">
        {% for d in domains %}
            <div>
                <h4>{{ d.name }}</h4>
                <table class="table table-responsive">
                    <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for e in d.events %}
                        <tr>
                            <td>{{ e.event_name }}</td>
                            <td>{{ e.count }}</td>
                        </tr>
                    {% endfor %}
                    <tr style="font-weight: bold;background-color: gray;color: white">
                        <td >
                            Total
                        </td>
                        <td>
                            {{ d.count }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
</div>
</body>