{% extends 'base/base.html' %}
{% load static %}
{% block title %}{{ pageTitle }}{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'events/css/events.css' %}">
{% endblock %}
{% block body %}
    <div class="container-fluid"
         style="background:linear-gradient(45deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('{{ dept_choosen.banner_src.url }}');width: 100%;height:200px;background-size:cover;">
        <h1 class="title userselect">{{ pageTitle }}</h1>
    </div>
    <br>
    <div class="container">
        {% for event in events %}
            <div class="row">
                <div id="eventImage" class="col-sm-12 col-md-6"
                     style="background-image: url('{{ event.event.container_src.url }}');background-size: cover">
                    <div id="eventImageTitle" style="margin:20px;height:92%;">
                        <div style="background:linear-gradient(45deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5));height: inherit;text-align: center">
                            <h3 class="userselect"
                                style="color:#fff;word-wrap: break-word;padding-top:12vh;padding-bottom:12vh;font-weight: 400;">{{ event.event.tagline }}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <h1 class="colorlib-heading">{{ event.event.event_name }}</h1>
                    <p class="eventDescription" style="margin-top: 12px;font-size: 14px">
                        {{ event.event.objective }}
                    </p>
                    <div class="team">
                        <h6 style="font-weight: 400"> Prizes:
                            <pre style="font-family: Verdana, Geneva, sans-serif;font-weight: 300;font-size: 14px;">{{ event.event.prize }} </pre>
                        </h6>
                        <h6 style="font-weight: 400"> Team: <span
                                style="font-family: Verdana, Geneva, sans-serif;
    font-weight: 300;
    font-size: 14px;"> Max {{ event.event.team_size }} Participant(s) per Team</span>
                        </h6>
                        {% if event.event.location %}
                            <h6 style="font-weight: 400"> Location: <span
                                    style="font-family: Verdana, Geneva, sans-serif;
    font-weight: 300;
    font-size: 14px;"> {{ event.event.location }} </span>
                            </h6>
                        {% endif %}
                        {% if event.event.timings %}
                            <h6 style="font-weight: 400"> Date: <span
                                    style="font-family: Verdana, Geneva, sans-serif;
    font-weight: 300;
    font-size: 14px;"> {{ event.event.timings }}</span>
                            </h6>
                        {% endif %}
                        <h6 style="font-weight: 400"> Fee Structure: <span style="font-family: Verdana, Geneva, sans-serif;
    font-weight: 300;
    font-size: 14px;"> ₹ {{ event.event.entry_fee }} per
                        team</span></h6>
                        {% if event.event.rules_file.url != None %}
                            <a style="font-size: 14px"
                               href="{{ event.event.rules_file.url }}" download>{{ event.event.event_name }} rules PDF
                                download</a>
                        {% endif %}
                    </div>

                    <div style="display: flex;flex-direction: row;justify-items: left;">
                        <form method="get" action="{% url 'details' %}">
                            <input type="hidden" name="event" value="{{ event.event.event_name }}">
                            <button type="submit" class="btn btn-primary eventButtons">Rules
                            </button>
                        </form>
                        {% if event.event.can_register %}
                            <form method="get" action="{% url 'participantEventRegister' %}">
                                <input type="hidden" name="event_id" value={{ event.event.event_id }}>
                                <button type="submit" id="modal-btn" class="btn btn-primary eventButtons">Register Now
                                </button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
    <br>
    <div style="height: 20vh"></div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'events/js/events.js' %}"></script>
{% endblock %}

