{% extends 'base/base.html' %}
{% load static %}
{% block title %}{{ pageTitle }}{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'events/css/events.css' %}">
    <style>
        #footer {
            position: relative;
            left: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
{% endblock %}
{% block body %}

    <div class="container-fluid"
         style="background:linear-gradient(45deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('{% static dept_choosen.banner_src %}');width: 100%;height:200px;background-size:cover;">
        <h1 class="title userselect" data-sal="slide-up" data-sal-easing="ease-out-bounce"
            data-sal-delay="100" data-sal-duration="500">{{ pageTitle }}</h1>
    </div>
    <br>
    <div class="container">
        {% for event in events %}
            <div class="row">
                <div id="eventImage" class="col-sm-12 col-md-6"
                     style="background-image: url('{% static event.event.container_src %}');background-size: cover">
                    <div id="eventImageTitle" style="margin:20px;height:300px;">
                        <div
                                style="background:linear-gradient(45deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5));height: inherit;text-align: center">
                            <h2 class="userselect" style="color:#fff;word-wrap: break-word;padding-top:12vh">{{ event.event.tagline }}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <h1 class="colorlib-heading">{{ event.event.event_name }}</h1>
                    <p class="eventDescription" style="margin-top: 12px">
                        {{ event.event.objective }}
                    </p>
                    {#                    <div class="contact">#}
                    {#                        <h4>Contact:</h4>#}
                    {#                        <p>Sanul : 123456789</p>#}
                    {#                        <p>Sanul : 123456789</p>#}
                    {#                    </div>#}
                    <div class="team">
                        <h4 style="color: #000;font-weight: 500">Team and Fee
                            Structure:</h4>
                        <p>Max {{ event.event.team_size }} Participants per Team & ₹ {{ event.event.entry_fee }} per
                            team.</p>
                    </div>

                    <div style="display: flex;flex-direction: row;justify-items: left;">
                        <form method="get" action="{% url 'details' %}">
                            <input type="hidden" name="event" value="{{ event.event.event_name }}">
                            <button type="submit" class="btn btn-primary eventButtons">Rules
                            </button>
                        </form>
                        <form method="get" action="{% url 'participantEventRegister' %}">
                            <input type="hidden" name="event_id" value={{ event.event.event_id }}>
                            <button type="submit" id="modal-btn" class="btn btn-primary eventButtons">Register Now
                            </button>
                        </form>
                    </div>
                </div>

                {#            Referral code pop up#}
                {#                <div style="display: flex;align-items: center;justify-content: center;">#}
                {#                    <div id="my-modal" class="modal">#}
                {#                        <div class="modal-content">#}
                {#                            <div class="modal-header">#}
                {#                                <h2>Got referral code ?</h2>#}
                {#                                <span class="close">&times;</span>#}
                {#                            </div>#}
                {#                            <div class="modal-body">#}
                {#                                <p>Enter your referral code :</p>#}
                {#                                <form>#}
                {#                                    <input type="text" class="form-control">#}
                {#                                    <button type="submit" class="btn btn-primary eventButtons">Submit</button>#}
                {#                                </form>#}
                {#                            </div>#}
                {#                            <div class="modal-footer">#}
                {#                                <div class="text-right">#}
                {#                                    <button class="btn btn-primary eventButtons">#}
                {#                                        Skip#}
                {#                                    </button>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}

            </div>
            <br>
        {% endfor %}
    </div>
    <br>
{% endblock %}
{% block scripts %}
    <script src="{% static 'events/js/events.js' %}"></script>
{% endblock %}

