{% extends 'base/base.html' %}
{% load static %}
{% block title %}Log In{% endblock %}
{% block css %}
    <link href="{% static 'events/css/login_signup.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<br><br><br><br>
    <form   name="participantDetails" method="post" action="">
        {% csrf_token %}
        <div class="form-group">
            <input id="email" type="email" class="form-control" name="email"
                   placeholder="Email">
            {{ form.email.errors }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary pull-right">Send OTP</button>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="otp"
                   placeholder="OTP">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary pull-right">Verify OTP</button>
        </div>
    </form>

    <form method="GET" action="{% url 'participantDetails' %}">
        <div>
            <input type= "hidden" name="event_id" value={{ event }}>
            <input type="hidden" name="userEmail" value="{{ request.user.email }}">
            <button type="submit" class="btn btn-primary pull-right">Next</button>
        </div>
    </form>
{% endblock %}