{% extends 'base/base.html' %}
{% load static %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
{% block title %}Live Participants{% endblock %}
{% block css %}
    <link href="{% static 'events/css/campaign.css' %}" rel="stylesheet">
    <style>
        .table {
            margin-left: 0;
            margin-right: 20px;
        }

        td {
            width: 200px;
        }

        #footer {
            display: none;
        }

        .navbar {
            display: none;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        {{ d.name }}
        <div id="event">

                {% include 'events/live.html' %}
        </div>
    </div>
{% endblock %}
    {% block scripts %}
{#        <script src="https://code.jquery.com/jquery-3.1.1.min.js" />#}
        <script>
            console.log("thre")
            setInterval(function () {
                {#alert("hello");#}
                console.log("enter")
                fetch('/live')
                    .then(response=>response.text())
                .then(resp => {
                    {#$('#event').html(resp);#}
                    console.log(resp)
                     $('#event').html(resp)
                })


            }, 10000);
        </script>
{% endblock %}
