{% extends 'base/base.html' %}
{% load static %}
{% block title %}QR Code Verify{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'events/css/events.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'events/css/qrcode.css' %}">
{% endblock %}
{% block body %}
    <br><br><br><br><br>
    <div class="container" style="height: 96vh">
        <div class="col-sm-5 container-center">
            <div class="logo">
                <img class="img-fluid" src="{% static 'gandharva/img/logo_description.png' %}">
            </div>
            <h5 style="text-align: center;">QR Code Scanner</h5>
            <br>

            <form method="post" action="">
                {% csrf_token %}
                <div class="input-group">
                    <input type=text placeholder="Tracking Code" class="form-control qrcode-text"
                           name="textqr">
                    <div class="input-group-append">
                        <label class=qrcode-text-btn>
                            <input type=file accept="image/*" capture=environment onclick="return showQRIntro();"
                                   onchange="openQRCamera(this);" tabindex=-1 name="qr">
                        </label>
                    </div>
                </div>
                <br>
                <div class="text-right">
                    <input type="submit" class="btn-primary" value="Submit">
                </div>
            </form>
            <br>
            <div class="text-center">
                {% if stats == 0 %}
                    <h6>Please Verify the QR code again or you have not registered in this Event</h6>
                {% elif stats == 2 %}
                    <h6>QR Code Verification Failed, Please try again with valid QR code</h6>
                {% elif stats == 1 %}
                    <h6>Team Name = {{ team.user.first_name }} Event Registered is {{ team.receipt.event.event_name }}
                        your
                        attendance has been marked true, you cannot participate for the same event again</h6>
                {% elif stats == 3 %}
                    <h6>You have already participated in this event before, please dont waste your precious time</h6>
                {% else %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'events/js/qr_packed.js' %}"></script>
    <script>
        function openQRCamera(node) {
            var reader = new FileReader();
            reader.onload = function () {
                node.value = "";
                qrcode.callback = function (res) {
                    if (res instanceof Error) {
                        alert("No QR code found. Please make sure the QR code is within the camera's frame and try again.");
                    } else {
                        node.parentNode.previousElementSibling.value = res;
                    }
                };
                qrcode.decode(reader.result);
            };
            reader.readAsDataURL(node.files[0]);
        }

        function showQRIntro() {
            return confirm("Use your camera to take a picture of a QR code.");
        }
    </script>
    <script src="{% static 'events/js/events.js' %}"></script>
{% endblock %}

