{% extends 'base/base.html' %}
{% load static %}
{% block title %}Register Head{% endblock %}
{% block css %}
    <link href="{% static 'events/css/login_signup.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <br><br><br>
    <div class="container">
        <div class="col-sm-6 container-center">
            <h2 style="text-align: center;padding-top: 20px">Head Registration</h2>
            <br>
            <form method="post">
                {% csrf_token %}
                {% if userform.non_field_errors %}
                    <ul>
                        {% for error in userform.non_field_errors %}
                            <li style="color: whitesmoke">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if userform.name.errors %}
                    <ul>
                        {% for error in userform.name.errors %}
                            <li style="color: whitesmoke">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if roleform.non_field_errors %}
                    <ul>
                        {% for error in roleform.non_field_errors %}
                            <li style="color: whitesmoke">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if roleform.name.errors %}
                    <ul>
                        {% for error in roleform.name.errors %}
                            <li style="color: whitesmoke">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="form-group">
                    <input id="username" type="text" class="form-control" name="username"
                           placeholder="Username" required>
                    <div style="color: whitesmoke">

                        {{ userform.username.errors }}
                    </div>
                </div>
                <div class="form-group">
                    <input id="full_name" type="text" class="form-control" name="full_name"
                           placeholder="Full Name" required>
                    <div style="color: whitesmoke">
                        {{ userform.full_name.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <input id="email" type="email" class="form-control" name="email"
                           placeholder="Email" required>
                    <p style="color: whitesmoke">
                        {{ userform.email.errors }}
                    </p>
                </div>

                <div class="form-group">
                    <input id="coll_email" type="email" class="form-control" name="coll_email"
                           placeholder="College-Email" required>
                    <div style="color: whitesmoke">
                        {{ userform.coll_email.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <input id="password" class="form-control" type="password" name="password" placeholder="Password"
                           required>
                </div>
                <div class="form-group">
                    <input id="password" class="form-control" type="password" name="confirm_password"
                           placeholder="Confirm Password" required>
                    {{ userform.confirm_password.errors }}
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="user_phone" placeholder="Mobile Number" required>
                    {{ form.user_phone.errors }}
                </div>
                <div class="form-group" style="margin-left: 10%">
                    Department:
                    <select name="user_dept" class="form-control" style="margin-left: 0;width: 90%">
                        {% for dept in depts %}
                            <option value="{{ dept.pk }}">{{ dept.name }}</option>
                        {% endfor %}
                    </select>
                    <div style="color: whitesmoke">
                        {{ form.user_dept.errors }}
                    </div>
                </div>
                <div class="form-group" style="margin-left: 10%">
                    College:
                    <select name="user_coll" class="form-control" style="margin-left: 0;width: 90%">
                        {% for college in colleges %}
                            <option value="{{ college.pk }}">{{ college.name }}</option>
                        {% endfor %}
                    </select>
                    <div style="color: whitesmoke">
                        {{ form.user_coll.errors }}
                    </div>
                </div>
                <div class="form-group" style="margin-left: 10%">
                    Year of Engineering:
                    <select name="user_year" class="form-control" style="margin-left: 0;width: 90%">
                        {% for year in years %}
                            <option value="{{ year.pk }}">{{ year.title }}</option>
                        {% endfor %}
                    </select>
                    {{ form.user_year.errors }}
                </div>
                <div class="form-group" style="margin-left: 10%">
                    Category :
                    <select name="name" class="form-control" style="margin-left: 0;width: 90%">
                        {% for role in roles %}
                            <option value="{{ role.pk }}">{{ role.name }}</option>
                        {% endfor %}
                    </select>
                    {{ roleform.name.errors }}
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary pull-right">Register</button>
                </div>
            </form>
            {#            <div class='g-sign-in-button'>#}
            {#                <div class=content-wrapper>#}
            {#                    <div class='logo-wrapper'>#}
            {#                        <img src='https://developers.google.com/identity/images/g-logo.png'>#}
            {#                    </div>#}
            {#                    <span class='text-container'>#}
            {#                    <a style="color: #fff" href="{% url 'social:begin' 'google-oauth2' %}">Sign in using Google</a>#}
            {#                 </span>#}
            {#                </div>#}
            {#            </div>#}
            <br>
        </div>
        <br>
    </div>
{% endblock %}