{% extends 'base/base.html' %}
{% load static %}
{% block title %}Register Head{% endblock %}
{% block css %}
    <link href="{% static 'events/css/login_signup.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <br><br><br>
    <div class="container">
        <div class="col-sm-6 container-center">
            <h2 style="text-align: center;padding-top: 20px">Head Registration</h2>
            <br>
            <form method="post" enctype="multipart/form-data" onsubmit="return validate()" id="personForm"
                  data-roles-url="{% url 'ajax_load_roles' %}" novalidate>
                {% csrf_token %}
                {% if userform.non_field_errors %}
                    <ul>
                        {% for error in userform.non_field_errors %}
                            <li style="color: whitesmoke">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if userform.name.errors %}
                    <ul>
                        {% for error in userform.name.errors %}
                            <li style="color: whitesmoke">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if roleform.non_field_errors %}
                    <ul>
                        {% for error in roleform.non_field_errors %}
                            <li style="color: whitesmoke">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if roleform.name.errors %}
                    <ul>
                        {% for error in roleform.name.errors %}
                            <li style="color: whitesmoke">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="form-group">
                    <label class="control-label" style="margin-left: 10%">User Name:</label>
                    <input id="userName" type="text" class="form-control" name="username"
                           placeholder="Username">
                    <span id="userNameErrors" class="errors"></span>
                    {{ userform.username.errors }}

                </div>
                <div class="form-group">
                    <label class="control-label" style="margin-left: 10%">First Name:</label>
                    <input id="firstName" class="form-control" type="text" name="first_name" placeholder="First name">
                    <span id="firstNameErrors" class="errors"></span>
                    {{ userform.first_name.errors }}

                </div>
                <div class="form-group">
                    <label class="control-label" style="margin-left: 10%">Last Name:</label>
                    <input id="lastName" class="form-control" type="text" name="last_name" placeholder="Last name">
                    <span id="lastNameErrors" class="errors"></span>
                    {{ userform.last_name.errors }}

                </div>
                <div class="form-group">
                    <label class="control-label" style="margin-left: 10%">Email:</label>
                    <input id="EMail" class="form-control" name="email"
                           placeholder="Email">
                    <span id="EmailErrors" class="errors"></span>
                    {{ userform.email.errors }}
                </div>

                <div class="form-group">
                    <label class="control-label" style="margin-left: 10%">College Email:</label>
                    <input id="colEMail" class="form-control" name="coll_email"
                           placeholder="College-Email">
                    <span id="ColEmailErrors" class="errors"></span>
                    {{ userform.coll_email.errors }}
                </div>

                <div class="form-group">
                    <label class="control-label" style="margin-left: 10%">Password:</label>
                    <input id="password1" class="form-control" type="password" name="password" placeholder="Password">
                    <span id="password1Errors" class="errors"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" style="margin-left: 10%">Confirm Password:</label>
                    <input id="password2" class="form-control" type="password" name="confirm_password"
                           placeholder="Confirm Password">
                    <span id="password2Errors" class="errors"></span>
                    {{ userform.confirm_password.errors }}
                </div>
                <div class="form-group">
                    <label class="control-label" style="margin-left: 10%">Mobile Number:</label>
                    <input id="mobile" class="form-control" type="tel" name="user_phone" placeholder="Mobile Number">
                    <span id="MobileErrors" class="errors"></span>
                    {{ userform.user_phone.errors }}
                </div>
                <div class="form-group" style="margin-left: 10%">
                    Department:
                    <select name="user_dept" class="form-control" style="margin-left: 0;width: 90%">
                        {% for dept in depts %}
                            <option value="{{ dept.pk }}">{{ dept.name }}</option>
                        {% endfor %}
                    </select>
                    <div style="color: whitesmoke">
                        {{ userform.user_dept.errors }}
                    </div>
                </div>
                <div class="form-group" style="margin-left: 10%">
                    College:
                    <select name="user_coll" class="form-control" style="margin-left: 0;width: 90%">
                        {% for college in colleges %}
                            <option value="{{ college.pk }}">{{ college.name }}</option>
                        {% endfor %}
                    </select>
                    <div style="color: whitesmoke">
                        {{ userform.user_coll.errors }}
                    </div>
                </div>
                <div class="form-group" style="margin-left: 10%">
                    Year of Engineering:
                    <select name="user_year" class="form-control" style="margin-left: 0;width: 90%">
                        {% for year in years %}
                            <option value="{{ year.pk }}">{{ year.title }}</option>
                        {% endfor %}
                    </select>
                    {{ userform.user_year.errors }}
                </div>
                <div class="form-group" style="margin-left: 10%">
                    <p>Upload your profile photo</p><br>
                    <input id="prof_img" type="file" class="" name="prof_img">
                    {{ userform.prof_img.errors }}
                </div>
                <div class="form-group" style="margin-left: 10%">

                    Select the Category which you belong to
                    <select id="id_category" name="role_categories" class="form-control" style="margin-left: 0;width: 90%">
                        <option value="">---------</option>
                        {% for categorie in categories %}
                            <option value="{{ categorie.id }}">{{ categorie.category }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group" style="margin-left: 10%">
                    Category :
                    <select id="id_role" name="role" class="form-control" style="margin-left: 0;width: 90%">
                        {% for selected_role in selected_roles %}
                            <option value="{{ selected_role.role.id }}">{{ selected_role.role.name }}</option>
                        {% endfor %}
                    </select>
                    {{ roleform.name.errors }}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary pull-right">Register</button>
                </div>
            </form>
            {#            <div class='g-sign-in-button'>#}
            {#                <div class=content-wrapper>#}
            {#                    <div class='logo-wrapper'>#}
            {#                        <img src='https://developers.google.com/identity/images/g-logo.png'>#}
            {#                    </div>#}
            {#                    <span class='text-container'>#}
            {#                    <a style="color: #fff" href="{% url 'social:begin' 'google-oauth2' %}">Sign in using Google</a>#}
            {#                 </span>#}
            {#                </div>#}
            {#            </div>#}
            <br>
        </div>
        <br>
    </div>
    {% block scripts %}
        <script type="text/javascript" src="{% static 'events/js/HeadInputValidate.js' %}"></script>
          <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
            $("#id_category").change(function () {
                console.log("In function");
                var url = $("#personForm").attr("data-roles-url");  // get the url of the `load_cities` view
                var categoryid = $(this).val();  // get the selected country ID from the HTML input

                console.log(categoryid);
                $.ajax({                       // initialize an AJAX request
                    url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                    data: {
                        'role_categories': categoryid       // add the country id to the GET parameters
                    },
                    success: function (data) {   // `data` is the return of the `load_cities` view function
                        $("#id_role").html(data);  // replace the contents of the city input with the data that came from the server
                    }
                });
            });
        </script>

    {% endblock %}

{% endblock %}