{% extends 'base/base.html' %}
{% load static %}
{% block title %}Register{% endblock %}
{% block css %}
    <link href="{% static 'events/css/login_signup.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
    <br><br><br><br>
    <div class="container">
        <div class="col-sm-5 container-center">
            <h3 style="text-align: center;padding-top: 10px;font-family: 'Lobster', cursive;">Gandharva'19</h3>
            <h6 style="text-align: center;">Create your Gandharva Account</h6>
            <br>
            <form method="post" onsubmit="return validate()">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <ul>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if form.name.errors %}
                    <ul>
                        {% for error in form.name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="row">
                    <div class="col-sm-12  col-md-6">
                        <div class="form-group">
                            <label class="control-label">First Name:</label>
                            <input id="firstName" class="form-control" style="margin: 0;width: 100%" type="text"
                                   name="first_name" placeholder="First name"
                            >
                            <span id="firstNameErrors" class="errors"></span>
                            {{ form.first_name.errors }}
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <label class="control-label">Last Name:</label>
                            <input id="lastName" class="form-control" style="margin: 0;width: 100%" type="text"
                                   name="last_name" placeholder="Last name"
                            >
                            <span id="lastNameErrors" class="errors"></span>
                            {{ form.last_name.errors }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">User Name:</label>
                    <input id="userName" class="form-control" style="margin: 0;width: 100%" type="text" name="username"
                           placeholder="Username"
                    >
                    <span id="userNameErrors" class="errors"></span>
                    {{ form.username.errors }}
                </div>
                <div class="form-group">
                    <label class="control-label">Email:</label>
                    <input id="EMail" class="form-control" style="margin: 0;width: 100%" name="email"
                           placeholder="E-mail Id">
                    <span id="EmailErrors" class="errors"></span>
                    {{ form.email.errors }}
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <label class="control-label">Password:</label>
                            <input id="password1" class="form-control" style="width: 100%;margin-left: 0"
                                   type="password"
                                   name="password" placeholder="Password"
                            >
                            <span id="password1Errors" class="errors"></span>
                            {{ form.password.errors }}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <label class="control-label">Confirm Password:</label>
                            <input id="password2" class="form-control" style="width: 100%;margin-left: 0"
                                   type="password"
                                   name="confirm_password"
                                   placeholder="Confirm Password">
                            <span id="password2Errors" class="errors"></span>
                            {{ form.confirm_password.errors }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Mobile:</label>
                    <input id="mobile" class="form-control" style="width: 100%;margin-left: 0" type="tel"
                           name="user_phone" placeholder="Mobile Number"
                    >
                    <span id="MobileErrors" class="errors"></span>
                    {{ form.user_phone.errors }}
                </div>
                <div class="form-group">
                    Department:
                    <select name="user_dept" class="form-control" style="margin-left: 0;width: 100%">
                        {% for dept in depts %}
                            <option value="{{ dept.pk }}">{{ dept.name }}</option>
                        {% endfor %}
                    </select>
                    {{ form.user_dept.errors }}
                </div>
                <div class="form-group">
                    Year of Engineering:
                    <select name="user_year" class="form-control" style="margin-left: 0;width: 100%">
                        {% for year in years %}
                            <option value="{{ year.pk }}">{{ year.title }}</option>
                        {% endfor %}
                    </select>
                    {{ form.user_year.errors }}
                </div>
                <div class="form-group">
                    College:
                    <select name="user_coll" class="form-control" style="margin-left: 0;width: 100%">
                        {% for college in colleges %}
                            <option value="{{ college.pk }}">{{ college.name }}</option>
                        {% endfor %}
                    </select>
                    {{ form.user_coll.errors }}
                </div>
                <div class="row">
                    <div class="col">
                        <p>Upload your profile photo</p>
                    </div>
                    <div class="col">
                        <input id="prof_img" type="file" class="" name="prof_img">
                    </div>
                </div>
                {{ form.prof_img.errors }}
                <br>
                <button type="submit" class="btn Register_btn-primary">
                    Submit
                </button>
            </form>
            <hr>
            <div class='g-sign-in-button'>
                <div class=content-wrapper>
                    <div class='logo-wrapper'>
                        <img src='https://developers.google.com/identity/images/g-logo.png'>
                    </div>
                    <span class='text-container'>
                    <a style="color: #fff" href="{% url 'social:begin' 'google-oauth2' %}">Sign Up using Google</a>
                 </span>
                </div>
            </div>
            <br><br>
        </div>
        <br>
    </div>
    <br>
    {% block scripts %}
        <script type="text/javascript" src="{% static 'events/js/inputValidations.js' %}"></script>
    {% endblock %}

{% endblock %}