{% extends 'base/base.html' %}
{% load static %}
{% block title %}Register{% endblock %}
{% block css %}
    <link href="{% static 'events/css/login_signup.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
    <br><br><br><br>
    <div class="container">
        <div class="col-sm-6 container-center">
            <h2 style="text-align: center;padding-top: 20px;padding-bottom: 20px">User Registration</h2>
            <form method="post" onsubmit="return validate()">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <ul>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if form.name.errors %}
                    <ul>
                        {% for error in form.name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="form-group">
                    <input id="firstName" class="form-control" type="text" name="first_name" placeholder="First name"
                    >
                    <span id="firstNameErrors" class="errors"></span>
                    {{ form.first_name.errors }}
                </div>
                <div class="form-group">
                    <input id="lastName" class="form-control" type="text" name="last_name" placeholder="Last name"
                    >
                    <span id="lastNameErrors" class="errors"></span>
                    {{ form.last_name.errors }}
                </div>
                <div class="form-group">
                    <input id="userName" class="form-control" type="text" name="username" placeholder="Username"
                    >
                    <span id="userNameErrors" class="errors"></span>
                    {{ form.username.errors }}
                </div>
                <div class="form-group">
                    <input id="EMail" class="form-control" name="email" placeholder="E-mail Id">
                    <span id="EmailErrors" class="errors"></span>
                    {{ form.email.errors }}
                </div>
                <div class="form-group">
                    <input id="password1" class="form-control" type="password" name="password" placeholder="Password"
                    >
                    <span id="password1Errors" class="errors"></span>
                    {{ form.password.errors }}
                </div>
                <div class="form-group">
                    <input id="password2" class="form-control" type="password" name="confirm_password"
                           placeholder="Confirm Password">
                    <span id="password2Errors" class="errors"></span>
                    {{ form.confirm_password.errors }}
                </div>
                <div class="form-group">
                    <input id="mobile" class="form-control" type="tel" name="user_phone" placeholder="Mobile Number"
                    >
                    <span id="MobileErrors" class="errors"></span>
                    {{ form.user_phone.errors }}
                </div>
                <div class="form-group" style="margin-left: 10%">
                    Department:
                    <select name="user_dept" class="form-control" style="margin-left: 0;width: 90%">
                        {% for dept in depts %}
                            <option value="{{ dept.pk }}">{{ dept.name }}</option>
                        {% endfor %}
                    </select>
                    {{ form.user_dept.errors }}
                </div>
                <div class="form-group" style="margin-left: 10%">
                    Year of Engineering:
                    <select name="user_year" class="form-control" style="margin-left: 0;width: 90%">
                        {% for year in years %}
                            <option value="{{ year.pk }}">{{ year.title }}</option>
                        {% endfor %}
                    </select>
                    {{ form.user_year.errors }}
                </div>
                <div class="form-group" style="margin-left: 10%">
                    College:
                    <select name="user_coll" class="form-control" style="margin-left: 0;width: 90%">
                        {% for college in colleges %}
                            <option value="{{ college.pk }}">{{ college.name }}</option>
                        {% endfor %}
                    </select>
                    {{ form.user_coll.errors }}
                </div>
                <button type="submit" class="btn btn-primary pull-right">
                    Submit
                </button>
            </form>
            <hr>
            <div class='g-sign-in-button'>
                <div class=content-wrapper>
                    <div class='logo-wrapper'>
                        <img src='https://developers.google.com/identity/images/g-logo.png'>
                    </div>
                    <span class='text-container'>
                    <a style="color: #fff" href="{% url 'social:begin' 'google-oauth2' %}">Sign Up using Google</a>
                 </span>
                </div>
            </div>
            <br><br>
        </div>
        <br>
    </div>
    <br>
    {% block scripts %}
        <script type="text/javascript" src="{% static 'events/js/inputValidations.js' %}"></script>
    {% endblock %}

{% endblock %}