{% extends 'base/base.html' %}
{% load static %}
{% block title %}Confirm Email{% endblock %}
{% block css %}
    <link href="{% static 'user/css/reset_password.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <br><br><br><br><br>
    <div class="container" style="height: 100vh">
        <div class="col-sm-6 container-center">
            <h3 style="text-align: center;padding-top: 10px;font-family: 'Lobster', cursive;">Gandharva'19</h3>
            <h5 style="text-align: center;">Confirm Email</h5>
            <br>
            <p style="text-align: center">Please confirm your email address to complete the registration.</p>
            <p style="text-align: center">You will not be able to log in unless you confirm your email.</p>
            <div class="text-center">
                <a href="{% url 'home' %}" class="btn bg-primary confirmEmailButton" style="margin-left: 0">Home</a>
            </div>
        </div>
    </div>
    <br>
{% endblock %}