{% extends 'base/base.html' %}
{% load static %}
{% block title %}My Actions{% endblock %}
{% block css %}
    <link href="{% static 'user/css/myactions.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <br><br><br><br><br>
    <div class="container" style="height:100vh">
        <div class="col-sm-7 container-center">
            <h3 style="text-align: center;padding-top: 10px;font-family: 'Lobster', cursive;">Gandharva'19</h3>
            <h5 style="text-align: center;">My Actions</h5>
            <br>
            <div class="text-right">
                <h6> {{ roles.name }}</h6>
            </div>
            <br>

            <h4 style="font-weight: 400;font-size: 22px">Roles:</h4>
            <h2 style="font-weight: 400;font-size: 20px">{{ roles.assigned_work }}</h2>


            {% if button_name == "Campaign" %}
                <form method="get" action="{% url 'campaign' %}">
                    <div class="text-center">
                        <button type="submit" name="{{ button_name }}" class="btn btn-primary"
                                style="margin-left: 0">{{ button_name }}</button>
                    </div>
                </form>
            {% endif %}
            {#            {% if button_name == "All Participants" %}#}
            {#                <form method="get" action="{% url 'all_participanrs' %}">#}
            {#                    <div class="text-center">#}
            {#                        <button type="submit" name="{{ button_name }}" class="btn btn-primary"#}
            {#                                style="margin-left: 0">{{ button_name }}</button>#}
            {#                    </div>#}
            {#                </form>#}
            {#            {% else %}#}

            {#            {% endif %}#}
        </div>
        <br>
    </div>
{% endblock %}