{% extends 'base/base.html' %}
{% load static %}
{% block title %}My Actions{% endblock %}
{% block css %}
    <link href="{% static 'user/css/myactions.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <br><br><br><br><br>
    <div class="container" style="height:100vh">
        <div class="col-sm-7 container-center">
            <div class="logo">
                <img class="img-fluid" src="{% static 'gandharva/img/logo_description.png' %}">
            </div>
            <h5 style="text-align: center;">My Actions</h5>
            <br>
            <div class="text-right">
                {% if roles %}
                    <h5> {{ roles.name }}</h5>
                {% else %}
                    <h5> Role Not Assigned</h5>
                {% endif %}
            </div>
            <br>

            <h4 style="font-weight: 400;font-size: 22px"> Your roles:</h4>
            {% if roles %}
                <h6 style="font-weight: 400;font-size: 16px">{{ roles.assigned_work }}</h6>
            {% else %}
                <h6 style="font-weight: 400;font-size: 16px">No Role Exists</h6>
            {% endif %}
            {% if button_name == "Campaign" %}
                <form method="get" action="{% url 'campaign' %}">
                    <div class="text-center">
                        <button type="submit" name="{{ button_name }}" class="btn btn-primary"
                                style="margin-left: 0">Campaigning Details</button>
                    </div>
                </form>

            {% endif %}
        {% if stat == 1 %}
                <form method="get" action="{% url 'event-count' %}">
                    <div class="text-center">
                        <button type="submit" name="event_count" class="btn btn-primary"
                                style="margin-left: 0">Event Count</button>
                    </div>
                </form>
{#                        <div class="text-center">#}
{#                            <form method="get" action="{% url 'event-presenty' %}">#}
{#                                <button type="submit" class="btn btn-primary">Event Presenty#}
{#                                </button>#}
{#                            </form>#}
{#                        </div>#}
{#                        <div class="text-center">#}
{#                            <form method="get" action="{% url 'qr-verify' %}">#}
{#                                <button type="submit" class="btn btn-primary">QR Code Verify#}
{#                                </button>#}
{#                            </form>#}
{#                        </div>#}
                {% endif %}
            {#            {% if button_name == "All Participants" %}#}
            {#                <form method="get" action="{% url 'all_participanrs' %}">#}
            {#                    <div class="text-center">#}
            {#                        <button type="submit" name="{{ button_name }}" class="btn btn-primary"#}
            {#                                style="margin-left: 0">{{ button_name }}</button>#}
            {#                    </div>#}
            {#                </form>#}
            {#            {% else %}#}

            {#            {% endif %}#}
        </div>
        <br>
    </div>
{% endblock %}