{% extends 'base/base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block css %}
    <link href="{% static 'user/css/userProfile.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<br><br><br><br><br><br>
            <form method="post" action="{% url 'new_password' %}">
                {% csrf_token %}
                {% if error %}
                <div>
                <h3>{{ error }}</h3>
                </div>
                {% endif %}
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Username" required>
                    {{ form.password.errors }}
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="new_password" placeholder="New Password" required>
                    {{ form.password.errors }}
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="confirm_new_password" placeholder="Confirm New Password" required>
                    {{ form.confirm_password.errors }}
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary pull-right" value="Submit">
                </div>
            </form>
<br><br><br><br><br><br>

{% endblock %}