{% extends 'base/base.html' %}
{% load static %}
{% block title %}New Password{% endblock %}
{% block css %}
    <link href="{% static 'user/css/reset_password.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <br><br><br><br><br>
    <div class="container">
        <div class="col-sm-6 container-center">
         <h2 style="text-align: center;padding-top: 20px">New Password</h2>
            <form method="post" action="{% url 'new_password' %}">
                {% csrf_token %}
                {% if error %}
                    <div>
                        <h3>{{ error }}</h3>
                    </div>
                {% endif %}
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Username" required>
                    {{ form.password.errors }}
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="new_password" placeholder="New Password" required>
                    {{ form.password.errors }}
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="confirm_new_password"
                           placeholder="Confirm New Password" required>
                    {{ form.confirm_password.errors }}
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary pull-right" value="Submit">
                </div>
            </form>
        </div>
    </div>
    <br>
{% endblock %}