{% extends 'base/base.html' %}
{% load static %}
{% block title %}New Password{% endblock %}
{% block css %}
    <link href="{% static 'user/css/reset_password.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <br><br><br><br><br>
    <div class="container" style="height:100vh">
        <div class="col-sm-6 container-center">
            <div class="logo">
                <img class="img-fluid" src="{% static 'gandharva/img/logo_description.png' %}">
            </div>
            <h5 style="text-align: center;">New Password</h5>
            <br>
            <form method="post" action="{% url 'new_password' %}" onsubmit="return validate()">
                {% csrf_token %}
                <input type="hidden" name="pk" value="{{ user_new.pk }}">
                <div class="form-group">
                    <label class="control-label">New Password:</label>
                    <input id="password1" class="form-control" style="margin: 0;width: 100%" type="password"
                           name="new_password"
                           placeholder="New Password">
                    <span id="password1Errors" class="errors"></span>
                    {{ form.password.errors }}
                </div>
                <div class="form-group">
                    <label class="control-label">Confirm New Password:</label>
                    <input id="password2" class="form-control" style="margin: 0;width: 100%" type="password"
                           name="confirm_new_password"
                           placeholder="Confirm New Password">
                    <span id="password2Errors" class="errors"></span>
                    {{ form.confirm_password.errors }}
                </div>
                <div class="text-right">
                    <input type="submit" class="btn newPasswordButton" style="margin-left: 0" value="Submit">
                </div>
                <br>
            </form>
        </div>
    </div>
    <br>
    {% block scripts %}
        <script type="text/javascript" src="{% static 'user/js/newPasswordInputValidate.js' %}"></script>
    {% endblock %}

{% endblock %}