{% extends 'base/base.html' %}
{% load static %}
{% block title %}Other Upload{% endblock %}
{% block css %}
    <link href="{% static 'events/css/campaign.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <br><br><br><br><br><br>
    <div class="container">
        <div class="col-sm-8 container-center">
            <div class="logo">
                <img class="img-fluid" src="{% static 'gandharva/img/logo_description.png' %}">
            </div>
            <h5 style="text-align: center;">Other Upload</h5>
            <br>
            <div class="text-center">
                <label>Documents Uploaded By Other Users</label>
            </div>
            <form method="post" action="{% url 'uploaded-docs' %}">
                {% csrf_token %}
                {% if juniors %}
                    {% for junior in juniors %}
                        <div class="text-center">
{#                            <input hidden name="junior" value="{{ junior.subuser.username }}">#}
                            {% if junior.subuser.first_name %}
                            <button name="junior" value="{{ junior.subuser.username }}" class="astext " style="font-weight: 500;color: #3673e8;">{{ junior.subuser.first_name }} {{ junior.subuser.last_name }}</button>
                            {% else %}
                            <button name="junior" value="{{ junior.subuser.username }}" class="astext " style="font-weight: 500;color: #3673e8;">{{ junior.subuser.full_name }}</button>
                            {% endif %}
                        </div>
                    {% endfor %}
                    </form>
                    <br>
                {% else %}
                    <h5 style="text-align: center; font-weight: 400">No Subordinates Under you</h5>
                {% endif %}
        </div>
    </div>
    <div style="height: 40vh"></div>
{% endblock %}