{% extends 'base/base.html' %}
{% load static %}
{% block title %}Registered Events{% endblock %}
{% block css %}
    <link href="{% static 'user/css/registeredEvents.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <br><br><br><br>
    <div class="container">
        {#        {% for event in events %}#}
       {% for team in teams %}
        <div class="row">
            <div id="eventImage" class="col-sm-12 col-md-5"
                 style="background-image: url('{% static team.receipt.event.container_src %}');background-size: cover">
                <div id="eventImageTitle" style="margin:20px;height:400px;">
                    <div
                            style="background:linear-gradient(45deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5));height: inherit;text-align: center">
                        <h2 style="color:#fff;word-wrap: break-word;padding-top:12vh">Event Title</h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-1"></div>
            <div class="col-sm-12 col-md-6">
                <h1 class="colorlib-heading">{{ team.receipt.event.event_name  }}</h1>
                {#                    <p class="eventDescription">#}
                {#                        The objective of this event is to test the proficiency of the participant in C Programming Language.#}
                {#                    </p>#}
                <p style="font-weight: bold; margin-bottom: 0;font-size: 18px"> Event Details</p>
                {% if team.receipt.event.timings %}
                <div class="con">
                    <p style="font-weight: bold;margin-right: 6px">Time:</p>
                    <p> {{team.receipt.event.timings}}</p>
                </div>
                {% endif %}
                {% if team.receipt.event.location %}
                <div class="con">
                    <p style="font-weight: bold;margin-right: 6px">Location:</p>
                    <p>{{team.receipt.event.location}}</p>
                </div>
                {% endif %}
                {% if team.receipt.event.team_size %}
                <div class="con">
                    <p style="font-weight: bold;margin-right: 6px">Team:</p>
                    <p>{{team.receipt.event.team_size}}</p>
                </div>
                {% endif %}
                {% if team.receipt.event.entry_fee %}
{#                <div class="con">#}
{#                    <p style="font-weight: bold;margin-right: 6px">Fees:</p>#}
{#                    <p>{{team.receipt.event.entry_fee}}</p>#}
{#                </div>#}
                {% endif %}
{#                {% if team.receipt.event.timings %}#}
{#                <div class="con">#}
{#                    <p style="font-weight: bold; margin-bottom: 0">Contact:</p>#}
{#                    <p style="margin-right:14px;margin-left: 6px">Sanul : 123456789</p>#}
{#                    <p>Sanul : 123456789</p>#}
{#                </div>#}
{#                {% endif %}#}
                <br>
                <p style="font-weight: bold; margin-bottom: 0;font-size: 18px"> Payment Details</p>
            {% for transaction in team.transaction_set.all %}
                <div class="paymentdetails">
                    <p><span style="font-weight: bold">Amount</span> : {{ team.receipt.event.entry_fee }}</p>
                    <p><span style="font-weight: bold">Status</span> : {{ transaction.status }}</p>
                    <p><span style="font-weight: bold">Transaction ID</span> : {{ transaction.transaction_id }}</p>
                    <p><span style="font-weight: bold">Payment Date</span> : {{ transaction.date }}</p>
                    <p><span style="font-weight: bold">Payment Time</span> : {{ transaction.time }}</p>
{#                    <p><span style="font-weight: bold">Name</span> : {{ user.first_name }}</p>#}
{#                    <p><span style="font-weight: bold">Event</span> : {{ team.receipt.event.event_name }}</p>#}
{#                    <p><span style="font-weight: bold">Phone</span> : {{ user.user_phone }}</p>#}

                </div>
                {%  endfor %}
                <div style="display: flex;flex-direction: row;justify-items: left;">
                    <form method="get" action="{% url 'details' %}">
                        <input type="hidden" name="event" value="{{ team.receipt.event.event_name }}">
                        <button type="submit" class="btn btn-primary eventButtons">Rules
                        </button>
                    </form>
                </div>

            </div>
        </div>
           <br>
        {% endfor %}


        {#        {% endfor %}#}
    </div>
    <br>













{#    <h1>Registered Events</h1>#}
{##}
{#    <p>#}
{#        Amount : {{ paymentAmount }}#}
{#    </p>#}
{#    <p>#}
{#        Status : {{ paymentStatus }}#}
{#    </p>#}
{#    <p>#}
{#        Name : {{ buyerName }}#}
{#    </p>#}
{#    <p>#}
{#        Event: {{ buyPurpose }}#}
{#    </p>#}
{#    <p>#}
{#        Phone: {{ buyerPhone }}#}
{#    </p>#}

    {% block scripts %}
        <script type="text/javascript" src="{% static 'user/js/registeredEvents.js' %}"></script>
    {% endblock %}


{#    {% for team in teams %}#}
{#        <h1>{{ team.receipt.event.event_name }}</h1>#}
{#    {% endfor %}#}
{% endblock %}