{% extends 'base/base.html' %}
{% load static %}
{% block title %}Registered Events{% endblock %}
{% block css %}
    <link href="{% static 'user/css/registeredEvents.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

    <h1>Registered Events</h1>
        <br>
    <br>
    <br>
    <br>
    <br>
    <p>
        Amount : {{ paymentAmount }}
    </p>
    <p>
        Status : {{ paymentStatus }}
    </p>
    <p>
        Name : {{ buyerName }}
    </p>
    <p>
        Event: {{ buyPurpose }}
    </p>
    <p>
        Phone: {{ buyerPhone }}
    </p>

    {% block scripts %}
        <script type="text/javascript" src="{% static 'user/js/registeredEvents.js' %}"></script>
    {% endblock %}


    <br>
    <br>
    <br>
        <br>
    <br>
    <br>

        <br>
    <br>
    <br>
    {% for team in teams %}
    <h1>{{ team.receipt.event.event_name }}</h1>
    {% endfor %}
{% endblock %}