{% extends 'base/base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block css %}
    <link href="{% static 'user/css/userProfile.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<br><br><br><br><br><br>
            <form method="post" action="{% url 'reset_password' %}">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary pull-right" value="Send Verification Email">
                </div>
            </form>
<br><br><br><br><br><br>

{% endblock %}