<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
</head>
<body>

<a href="{{ filename }}"download>
  Download
</a>
<div class="container" style="margin-top: 20px">
            <table class="table table-responsive">
                <thead class="thead-dark">
                <tr>
                    <th>Volunteer Name</th>
                    <th>College Name</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                {% for volunteer in volunteerData %}
                    <tr>
                        <td>{{ volunteer.user.first_name }} {{ volunteer.user.last_name }}</td>
                        <td>{{ volunteer.college.name }}</td>
                        <td>{{ volunteer.date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
 </div>

</body>
</html>