{% extends 'base/base.html' %}
{% load static %}
{% block title %}Other Upload{% endblock %}
{% block css %}
    <link href="{% static 'events/css/campaign.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <br><br><br><br><br>
    <div class="container">
        <div class="col-sm-8 container-center">
            <div class="text-center"
                 style="width: 50%;height: auto;margin-right: auto;margin-left: auto;margin-top: 10px;margin-bottom: 20px">
                <img class="img-fluid" src="{% static 'gandharva/img/logo_description.png' %}">
            </div>
            <h5 style="text-align: center;">Other Upload</h5>
            <br>
            <div class="text-center">
                <label style="font-weight:bold">Documents Uploaded By {{ junior }}</label>
                {% if docs %}
                    <table class="table table-responsive">
                        <thead class="thead-dark">
                        <tr>
                            <th>File Name</th>
                            <th> Upload Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tbody>
                        {% for doc in docs %}
                            <tr>
                                <td><a href="{{ doc.document.url }}">{{ doc.fname }}</a></td>
                                <td>
                                    <small>(Uploaded at: {{ doc.uploaded_at }})</small>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h5 style="text-align: center;">No Documents Uploaded</h5>
                {% endif %}
            </div>

{% endblock %}