{% extends 'base/base.html' %}
{% load static %}
{% block title %}Other Upload{% endblock %}
{% block css %}
    <link href="{% static 'events/css/campaign.css' %}" rel="stylesheet">
    <style>
        .table {
            margin-left: 0;
        }

        td {
            width: 500px;
        }
    </style>
{% endblock %}

{% block body %}
    <br><br><br><br><br><br>
    <div class="container">
        <div class="col-sm-8 container-center">
            <div class="logo">
                <img class="img-fluid" src="{% static 'gandharva/img/logo_description.png' %}">
            </div>
            <h5 style="text-align: center;">Other Upload</h5>
            <br>
            <div class="text-center">
                <label>Documents Uploaded By {{ junior }}</label>
                {% if docs %}
                    <table class="table table-responsive">
                        <thead class="thead-dark">
                        <tr>
                            <th>File Name</th>
                            <th> Upload Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for doc in docs %}
                            <tr>
                                <td><a href="{{ doc.document.url }}">{{ doc.fname }}</a></td>
                                <td>
                                    <small>(Uploaded at: {{ doc.uploaded_at }})</small>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h5 style="text-align: center;font-weight: 400">No Documents Uploaded</h5><br>
                {% endif %}
            </div>
        </div>
    </div>
    <div style="height: 40vh"></div>

{% endblock %}