{% extends 'base/base.html' %}
{% load static %}
{% block title %}Our Sponsors{% endblock %}
{% block css %}
    <link href="{% static 'gandharva/css/ourSponsor.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
{% endblock %}

{% block body %}
    <br><br><br><br><br>
    <div class="container-fluid">
        {% for c,sponsors in dict.items %}
            <h2 class="text-center" style="font-family: 'Abel', sans-serif;font-weight: bold">{{ c.sponsor_category }}</h2>
            <br>
            {% for s in sponsors %}
                {% if forloop.first %}
                    <div class="row">{% endif %}

            <div class="col col-sm-3" style="margin-bottom: 20px;margin-left: auto;margin-right: auto;">
                <div class="one-slide white">
                    <div class="testimonial w-100 h-100 text-center">
                        <a style="color: #000" href="{{ s.sponsor_link }}" target="_blank">
                            <div class="brand"><img alt="logo"
                                                    src="{{ s.sponsor_logo.url }}"
                                                    style="width:auto;height:100px;max-width:100px"/>
                            </div>
                            <div class="separator">&nbsp;</div>
                            <div class="message text-center text-gray"
                                 style="word-wrap: break-word">{{ s.sponsor_name }}</div>
                            <p style="font-weight: 300;font-size: 0.9rem;word-wrap: break-word">{{ s.sponsor_type }}</p>
                        </a>
                    </div>
                </div>
            </div>

            {% if forloop.counter|divisibleby:4 %}
                </div>
                <div class="row">{% endif %}
            {% if forloop.last %}
                </div>
            {% endif %}
            {% endfor %}
            <br><br>
        {% endfor %}
    </div>
    <div style="height: 20vh"></div>
    <br><br><br>
{% endblock %}