{% extends 'base/base.html' %}
{% load static %}
{% block title %}Gandharva-OurTeam{% endblock %}

{% block style %}

    .main-section{
        margin:0;
        margin-top:130px;
        padding-left:5%;
        padding-bottom: 5%;
    }

    .modal-content{
        padding:0 10px;
        box-shadow:0px 0px 3px;
        border-color:#cccccc;

    }

    .user-img{
        margin-top: -100px;
        margin-left:5px;
        margin-bottom: 40px;
        height:50%;
    }
    .user-img img{
        height:70%;
        width:50%;
        border-radius:5px;
    }

{% endblock %}
{% block body %}

  <div class="container-fluid" style="margin-left: 5%;margin-right:4%;">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

  <div class="row"  style="width: 90%;">
    <div class="col-sm-3" style="margin-top:130px;padding-left:4%;padding-bottom: 5%;">
      <div class="modal-content">
            <div class="col-12" style="margin-top: -100px;margin-left: 1px;margin-bottom: 20px;height:70%;">
                <img src="/static/gandharva/img/saif.jpg" alt="Contactlogo" style="height:100%;width:100%;border-radius:50%;">
            </div>

            <p style="text-align: center;font-family: 'Abel',sans-serif;font-weight: bold;font-size: 25px;line-height: 80%;">Pranav Mehta</p>
            <p style="text-align: center;font-family: 'Abel',sans-serif;font-weight: normal;font-weight: 300;font-size: 20px;line-height: 50%;">GS</p>
        </div>
      </div>
    <div class="col-sm-3" style="margin:0;margin-top:130px;padding-left:4%;padding-bottom: 5%;">
      <div class="modal-content">
            <div class="col-12" style="margin-top: -100px;margin-left: 1px;margin-bottom: 20px;height:70%;">
                <img src="/static/gandharva/img/ajay.jpg" alt="Contactlogo" style="height:100%;width:100%;border-radius:50%;">
            </div>

            <p style="text-align: center;font-family: 'Abel',sans-serif;font-weight: bold;font-size: 25px;line-height: 80%;">Sourabh Patil</p>
            <p style="text-align: center;font-family: 'Abel',sans-serif;font-weight: normal;font-weight: 300;font-size: 20px;line-height:50%;">President</p>
        </div>
      </div>
    <div class="col-sm-3" style="margin:0;margin-top:130px;padding-left:4%;padding-bottom: 5%;">
      <div class="modal-content">
            <div class="col-12" style="margin-top: -100px;margin-left: 1px;margin-bottom: 20px;height:70%;">
                <img src="/static/gandharva/img/ranveer.jpg" alt="Contactlogo" style="height:100%;width:100%;border-radius:50%;">
            </div>

            <p style="text-align: center;font-family: 'Abel',sans-serif;font-weight: bold;font-size: 25px;line-height: 80%;">Mohit Charkha</p>
            <p style="text-align: center;font-family: 'Abel',sans-serif;font-weight: normal;font-weight: 300;font-size: 20px;line-height: 50%;">Vice President</p>
        </div>
      </div>
    <div class="col-sm-3" style="margin:0;margin-top:130px;padding-left:4%;padding-bottom: 5%;">
      <div class="modal-content">
            <div class="col-12" style="margin-top: -100px;margin-left: 1px;margin-bottom: 20px;height:70%;">
                <img src="/static/gandharva/img/akshay.jpg" alt="Contactlogo" style="height:100%;width:100%;border-radius:50%;">
            </div>

            <p style="text-align: center;font-family: 'Abel',sans-serif;font-weight: bold;font-size: 25px;line-height: 80%;">Pratik Ghatage</p>
            <p style="text-align: center;font-family: 'Abel',sans-serif;font-weight: normal;font-weight: 300;font-size: 20px;line-height:50%;">Technical Head</p>
        </div>
      </div>

  </div>
</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}

