{% extends 'base/base.html' %}
{% load static %}
{% block title %}Gandharva-OurTeam{% endblock %}
{% block css %}
    <link href="{% static 'gandharva/css/ourTeam.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}

    <div class="container-fluid">
        <div style="height: 100px"></div>
        <div class="text-center" style="margin-bottom: 10px">
            <h1 style="font-family: 'Abel', sans-serif">Our Team</h1>
        </div>
        <br><br>
        {% if objs %}
            {% for obj in objs %}
                {% if forloop.first %}
                    <div class="row">{% endif %}
            <div class="col col-sm-2 main-section">
                <div class="modal-content">
                    <div class="user-img">
                        <img src="{{ obj.img.url }}"
                             alt="Contactlogo" style="object-fit: cover">
                    </div>
                    <p class="name">{{ obj.name }}<br> <span
                            style="font-weight: 400;padding-bottom: 10px">{{ obj.post }}</span></p>
                    <div class="text-center" style="margin-bottom: 6px">
                        <a target="_blank" href="" style="color: #333333"> <i class="fab fa-facebook-f"
                                                                              style="margin-right: 8px;font-size: 20px"></i></a>
                        <a target="_blank" href="" style="color: #333333"><i class="fab fa-twitter"
                                                                             style="margin-right: 8px;font-size: 20px"></i></a>
                        <a target="_blank" href="" style="color: #333333"><i class="fab fa-instagram"
                                                                             style="margin-right: 8px;font-size:20px"></i></a>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:4 %}
                </div>
                <div class="row">{% endif %}
            {% if forloop.last %}
                </div>
            {% endif %}
            {% endfor %}
        {% else %}
            <div style="height: 100vh"></div>
        {% endif %}
    </div>
    </div>
    <div style="height: 20vh"></div>
{% endblock %}