{% extends 'base/base.html' %}
{% load static %}
{% block title %}Gandharva-OurTeam{% endblock %}
{% block css %}
    <link href="{% static 'gandharva/css/main-section.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}

  <div class="container-fluid" style="margin-left: 5%;margin-right:4%;">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

  <div class="row"  style="width: 90%;">
    <div class="col-sm-3 main-section">
      <div class="modal-content">
            <div class="col-12 user-img">
                <img src="/static/gandharva/img/saif.jpg" alt="Contactlogo">
            </div>

            <p class="name">Pranav Mehta</p>
            <p class="postname">GS</p>
        </div>
      </div>
    <div class="col-sm-3 main-section">
      <div class="modal-content">
            <div class="col-12 user-img">
                <img src="/static/gandharva/img/ajay.jpg" alt="Contactlogo">
            </div>

            <p class="name">Sourabh Patil</p>
            <p class="postname">President</p>
        </div>
      </div>
    <div class="col-sm-3 main-section">
      <div class="modal-content">
            <div class="col-12 user-img">
                <img src="/static/gandharva/img/ranveer.jpg" alt="Contactlogo">
            </div>

            <p class="name">Mohit Charkha</p>
            <p class="postname">Vice President</p>
        </div>
      </div>
    <div class="col-sm-3 main-section">
      <div class="modal-content">
            <div class="col-12 user-img">
                <img src="/static/gandharva/img/akshay.jpg" alt="Contactlogo">
            </div>

            <p class="name">Pratik Ghatage</p>
            <p class="postname">Technical Head</p>
        </div>
      </div>

  </div>
</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}

