{% extends 'base/base.html' %}
{% load static %}
{% block title %}Privacy Policies{% endblock %}

{% block css %}
    <link href="{% static 'events/css/login_signup.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <br><br><br><br><br>
    <div class="container">
        <div class="col-sm-6 container-center">
            <div class="logo">
        <img class="img-fluid" src="{% static 'gandharva/img/logo_description.png' %}">
        </div>
            <h5 style="text-align: center;">Privacy Policies</h5>
            <br>
            <span style="font-size: 14px">
                {% for policy in policys %}
                    {{ policy.policy }}
                {% endfor %}
        </span>
            <br><br><br>
        </div>
    </div>
    <div style="height: 20vh"></div>
{% endblock %}